version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    groups:
      kubernetes:
        patterns:
        - k8s.io/api
        - k8s.io/apimachinery
        - k8s.io/cloud-provider
        - k8s.io/component-base

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
